<IfModule mod_rewrite.c>
RewriteEngine  On
RewriteCond %{HTTP_HOST} 	^(img\.)?dasaku\.net$ [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?oniichannoecchi.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?ikimashou.net [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?dasaku.net [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?google.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?feedburner.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?pinochan.net [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://.*?\.?bing.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]


# This just redirects the files so they're a bit simpler to find.
# Also doesn't use a fucking script to load files. So browsers can cache and so on.
# Fuck sake shimmie is stupid.
RewriteRule ^images/([0-9a-f]{2})([0-9a-f]{30}).*$  images/$1/$1$2 [L]
RewriteRule ^thumbs/([0-9a-f]{2})([0-9a-f]{30}).*$  thumbs/$1/$1$2 [L]

RewriteRule ^feed/?$ lib/cooliris.php [L]
RewriteRule ^feed/(.*)/?$ lib/cooliris.php?tags=$1 [L]
RewriteRule ^cooliris/?$ lib/cooliris.php [L]
RewriteRule ^cooliris/page/([0-9]*)/?$ lib/cooliris.php?page=$1 [L]
RewriteRule ^cooliris/(.*)/page/([0-9]*)/?$ lib/cooliris.php?tags=$1&page=$2 [L]
RewriteRule ^cooliris/(.*)/?$ lib/cooliris.php?tags=$1 [L]
RewriteRule ^post/favourites/([0-9]*)/?$ favourite_list.php?user_id=$1 [L]
RewriteRule ^post/favourites/([0-9]*)/([0-9]*)(/)?$ favourite_list.php?user_id=$1&pagenum=$2 [L]
RewriteRule ^post/list/?$ index.php [L]
RewriteRule ^post/list/([0-9]*)(/)?$ index.php?pagenum=$1 [L]
RewriteRule ^post/list/([^/]*)/?$ index.php?q=$1 [L]
RewriteRule ^post/list/(.*)/([0-9]*)/?$ index.php?q=$1&pagenum=$2 [L]
RewriteRule ^post/view/([0-9]*)/?$ view.php?picture_id=$1 [L]
RewriteRule ^group/list/?$ group_list.php [L]
RewriteRule ^group/list/([0-9]*)/?$ group_list.php?pagenum=$1 [L]
RewriteRule ^group/view/([0-9]*)/?$ group_view.php?group=$1 [L]
RewriteRule ^group/view/([0-9]*)/([0-9]*)/?$ group_view.php?group=$1&pagenum=$2 [L]
RewriteRule ^aliases/list/?$ alias_list.php [L]
RewriteRule ^aliases/list/([0-9]*)(/)?$ alias_list.php?pagenum=$1 [L]
RewriteRule ^implications/list/?$ implication_list.php [L]
RewriteRule ^implications/list/([0-9]*)(/)?$ implication_list.php?pagenum=$1 [L]
RewriteRule ^tags/list/normal/?$ tag_view.php?type=normal [L]
RewriteRule ^tags/list/normal/([0-9]*)(/)?$ tag_view.php?type=normal&pagenum=$1 [L]
RewriteRule ^tags/list/normal/([^/]*)/?$ tag_view.php?type=normal&find_tag=$1 [L]
RewriteRule ^tags/list/normal/(.*)/([0-9]*)/?$ tag_view.php?type=normal&find_tag=$1&pagenum=$2 [L]
RewriteRule ^tags/list/series/?$ tag_view.php?type=series [L]
RewriteRule ^tags/list/series/([0-9]*)(/)?$ tag_view.php?type=series&pagenum=$1 [L]
RewriteRule ^tags/list/series/([^/]*)/?$ tag_view.php?type=series&find_tag=$1 [L]
RewriteRule ^tags/list/series/(.*)/([0-9]*)/?$ tag_view.php?type=series&find_tag=$1&pagenum=$2 [L]
RewriteRule ^tags/list/character/?$ tag_view.php?type=character [L]
RewriteRule ^tags/list/character/([0-9]*)(/)?$ tag_view.php?type=character&pagenum=$1 [L]
RewriteRule ^tags/list/character/([^/]*)/?$ tag_view.php?type=character&find_tag=$1 [L]
RewriteRule ^tags/list/character/(.*)/([0-9]*)/?$ tag_view.php?type=character&find_tag=$1&pagenum=$2 [L]
RewriteRule ^tags/list/artist/?$ tag_view.php?type=artist [L]
RewriteRule ^tags/list/artist/([0-9]*)(/)?$ tag_view.php?type=artist&pagenum=$1 [L]
RewriteRule ^tags/list/artist/([^/]*)/?$ tag_view.php?type=artist&find_tag=$1 [L]
RewriteRule ^tags/list/artist/(.*)/([0-9]*)/?$ tag_view.php?type=artist&find_tag=$1&pagenum=$2 [L]
RewriteRule ^tags/list/?$ tag_view.php [L]
RewriteRule ^tags/list/([0-9]*)(/)?$ tag_view.php?pagenum=$1 [L]
RewriteRule ^tags/list/([^/]*)/?$ tag_view.php?find_tag=$1 [L]
RewriteRule ^tags/list/(.*)/([0-9]*)/?$ tag_view.php?find_tag=$1&pagenum=$2 [L]
RewriteRule ^forum/list/?$ forum_list.php [L]
RewriteRule ^forum/list/([0-9]*)(/)?$ forum_list.php?pagenum=$1 [L]
RewriteRule ^forum/list/([^/]*)/?$ forum_list.php?search=$1 [L]
RewriteRule ^forum/list/(.*)/([0-9]*)/?$ forum_list.php?search=$1&pagenum=$2 [L]
RewriteRule ^forum/view/([0-9]*)/?$ forum_view.php?topic_id=$1 [L]
RewriteRule ^forum/view/([0-9]*)/([0-9]*)/?$ forum_view.php?topic_id=$1&pagenum=$2 [L]
RewriteRule ^forum/reply/?$ forum_reply.php [L]
RewriteRule ^forum/new/?$ forum_new.php [L]
RewriteRule ^forum/edit/([0-9]*)/?$ forum_new.php?post_id=$1 [L]
RewriteRule ^forum/add/?$ forum_add.php [L]
RewriteRule ^save/?$ save_info.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^login/err/([0-9]*)/?$ login.php?err=$1 [L]
RewriteRule ^register/err/([0-9]*)/?$ register.php?err=$1 [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^registration/?$ create_user.php [L]
RewriteRule ^logout/?$ logout.php [L]
RewriteRule ^comment/?$ comment_add.php [L]
RewriteRule ^comment/list/?$ comment_list.php [L]
RewriteRule ^comment/list/([0-9]*)(/)?$ comment_list.php?pagenum=$1 [L]
RewriteRule ^post/upload/tag/?$ upload_tagger.php [L]
RewriteRule ^post/upload/?$ upload.php [L]
RewriteRule ^uploader/([0-9]*)/([A-Fa-f0-9]{32})/(.*)/?$ file_upload_script_thingy.php?user_id=$1&pass=$2&group=$3 [L]
RewriteRule ^uploader/([0-9]*)/([A-Fa-f0-9]{32})/?$ file_upload_script_thingy.php?user_id=$1&pass=$2 [L]
RewriteRule ^uploader/?$ file_upload_script_thingy.php [L]
RewriteRule ^tags/add/?$ edit_tag.php [L]
RewriteRule ^tags/edit/([0-9]*)/?$ edit_tag.php?tag=$1 [L]
RewriteRule ^tags/edit/commit/?$ save_tag.php [L]
RewriteRule ^group/add/?$ edit_group.php [L]
RewriteRule ^group/edit/([0-9]*)/?$ edit_group.php?group=$1 [L]
RewriteRule ^group/edit/commit/?$ save_group.php [L]
RewriteRule ^group/order/([0-9]*)/?$ group_order.php?group=$1 [L]
RewriteRule ^group/order/commit/?$ save_order.php [L]
RewriteRule ^group/remove/([0-9]*)/?$ admin/remove_from_group.php?picture_id_number=$1 [L]
RewriteRule ^aliases/add/?$ edit_alias.php [L]
RewriteRule ^aliases/edit/([0-9]*)/?$ edit_alias.php?alias=$1 [L]
RewriteRule ^aliases/edit/commit/?$ save_alias.php [L]
RewriteRule ^implications/add/?$ edit_implication.php [L]
RewriteRule ^implications/edit/([0-9]*)/?$ edit_implication.php?implication=$1 [L]
RewriteRule ^implications/edit/commit/?$ save_implication.php [L]
RewriteRule ^admin/delete/([0-9]*)/?$ admin/deletorizer.php?picture_id_number=$1 [L]
RewriteRule ^admin/delete/tag/([0-9]*)/?$ admin/tag_delete.php?tag_id_number=$1 [L]
RewriteRule ^admin/delete/alias/([0-9]*)/?$ admin/alias_delete.php?alias_id_number=$1 [L]
RewriteRule ^admin/delete/implication/([0-9]*)/?$ admin/implication_delete.php?implication_id_number=$1 [L]
RewriteRule ^admin/delete/group/([0-9]*)/?$ admin/group_delete.php?group_id_number=$1 [L]
RewriteRule ^admin/delete/forum/([0-9]*)/?$ admin/forum_delete.php?forum_post_number=$1 [L]
RewriteRule ^admin/forum/lock/([0-9]*)/?$ admin/forum_lock.php?forum_post_number=$1 [L]
RewriteRule ^admin/forum/stick/([0-9]*)/?$ admin/forum_stick.php?forum_post_number=$1 [L]
RewriteRule ^admin/delete/note/?$ admin/note_delete.php [L]
RewriteRule ^note/save/?$ note_saver.php [L]
RewriteRule ^favourite/save/?$ favourite_changer.php [L]
RewriteRule ^tags/search/?$ tag_searcher.php [L]
RewriteRule ^user/profile/([0-9]*)/?$ user_profile.php?user_id=$1 [L]
RewriteRule ^user/change/pass/?$ change_password.php [L]
RewriteRule ^admin/settings/?$ admin/admin_settings.php [L]
RewriteRule ^admin/settings/save?$ admin/save_config.php [L]
RewriteRule ^admin/count/?$ admin/fix_tag_count.php [L]
RewriteRule ^admin/untagged/?$ admin/remove_untagged_images.php [L]
RewriteRule ^admin/users/spam/?$ admin/remove_spam_users.php [L]
RewriteRule ^admin/users/?$ admin/user_management.php [L]
RewriteRule ^admin/users/([0-9]*)(/)?$ admin/user_management.php?pagenum=$1 [L]
RewriteRule ^admin/user/status/([0-9]*)/(.*)/?$ admin/user_status.php?user_majiggle=$1&status=$2 [L]
RewriteRule ^verify/user/([A-Fa-f0-9]{32})/?$ approve.php?user_hash=$1 [L]
RewriteRule ^approve/user/?$ admin/approve_user.php [L]
RewriteRule ^search/?$ search.php [L]
RewriteRule ^post/random/?$ search.php?random=1 [L]

# Redirect to fucking fat face.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ post/list [L]
</IfModule>

