@charset "utf-8";
/* CSS Document */

/*				*/
/*	General			*/
/*				*/

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	margin-top: 5px;
	background-color: #FFF;
	font-family: "Lucida Grande","Tahoma",Sans-Serif;
		
}

div, span
{
	font-family: "Lucida Grande","Tahoma",Sans-Serif;
}

img, a img
{
	border: 0;
}

a, a:visited, a:link, a:active
{
	color: #0055CC;
}

a:hover
{
	color: #666;
}

.right
{
	float: right;	
}

.left
{
	float: left;	
}

.clear
{
	clear:both;	
}

.floatfix
{
	display: block;
	padding: 13px 8px;
	*height: 0px;
}

.small
{
	padding: 3px;
	font-size: x-small;	
	font-weight: normal;
}

.light
{
	color: #CCC;	
}

.light a
{
	color: #CCC;	
}

.light a:hover
{
	color: #666;	
}

.grey
{
	color: #999;	
}

.grey a
{
	color: #999;
	text-decoration: none;
}

.grey a:hover
{
	color: #666;	
}

.smallpic
{
	width: 90%;
}

h3
{
	padding:0;
	margin:0;
}

#alert, .alert
{
	margin-top: 5px;
	padding: 5px;
	background-color: #FFC;
	border: 1px solid #996;
	text-align: center;
	font-size: 14px;
	color: #996;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#footer
{
	height:40px;
	background-color: #F0F0F0;
	border-top: 1px dotted #ddd;
}

#copyright
{
	margin:10px;
	font-size: 12px;
	color: #333;
}

#copyright img
{
	
}

.pink
{
	color: #FF0084;	
}

.spacer
{
	margin-bottom: 13px;
}

input[type=submit]
{
	font-weight: 600;
}

/*				*/
/*	Menus		*/
/*				*/


#site_name, #main_menu
{
	float: left;
}

#site_name
{
	font-size: 24px;
	font-weight: bold;	
	margin-top: 12px;
	margin-left: 15px;
	color: #333;
	
}

#sub_menu
{
	background-color: #3366CC;
	padding-left: 15px;
	clear: both;
}

#main_menu
{
	padding-left: 15px;
}

#main_menu span, #sub_menu span
{
	display: inline-block;
}

#main_menu span a
{
	
	color: #3366CC;
	display: block;
	margin-top: 13px;
	padding: 6px 8px;
	text-decoration: none;
	font-family: "Lucida Grande","Tahoma",Sans-Serif;
	font-size: 16px;
	
}

#sub_menu div span a, #sub_menu div span span
{
	color: #FFF;
	display: block;
	padding: 6px 8px;
	text-decoration: none;
	font-family: "Lucida Grande","Tahoma",Sans-Serif;
	font-size: 12px;
	line-height: 14px;
}

#main_menu span a:hover
{
	color: #666;
	background-color: #EEE;
}

#sub_menu div span a:hover
{
	color: #EEE;
}

#main_menu span.active a
{
	background-color: #3366CC;
	color: #FFF;
	font-weight: bold;
}

#log_menu
{
	background-color: #666;
}

/*				*/
/*	Body		*/
/*				*/

#main
{
	clear: both;
	background-color: #F0F0F0;
}

#sidebar
{
	float: left;
	width: 190px;
	background-color: #F0F0F0;
}

#sidebar div
{
	margin: 8px;
}

.block_title
{
	font-size: 14px;
	color: #333;
	font-weight: bold;
}

.block_content a
{
	color: #0033CC;
	font-size: 12px;
	text-decoration: none;
}

.block_content a.character
{
	color: #00AA00;
}

.block_content a.series
{
	color: #AA00AA;
}

.block_content a.artist
{
	color: #A00;
}

.block_content a.company
{
	color: #000;
}

.block_content
{
	color: #AAA;
	font-size: 12px;
}

.block_content strong
{
	color: #999;
	font-size: 12px;
}

a
{
	cursor: pointer;
}

.block_content a:hover
{
	cursor: pointer;
	color: #336699;
}

#content
{
	margin-left: 200px;
	background-color: #FFF;
	padding: 10px;
	padding-bottom: 40px;
	position:relative;
}

.list_image
{
	width: 200px;
	height: 200px;
	float:left;
	vertical-align: top;
	padding: 5px;
}

.list_image_tag
{
	width: 200px;
	height: 200px;
	display: inline-block;
	padding-right:40px;
	padding-bottom:80px;
}

.tagme
{
	border: 3px solid #0033CC;
}

.tagless
{
	border: 3px solid #FF1133;
}

.big 
{
	color:#777777;
	font-size:1.1em;
	font-weight:bold;
}

#page_title
{
	border-bottom: 1px dotted #DDDDDD;
	color: #666666;
	margin: 0;
	padding: 0;
}

#pages
{
	text-align: center;	
	clear: both;
	margin-top:40px;
}

#pages span
{
	margin: 4px;
	padding: 4px;
	*padding: 0;
	color: #666;
	border: 1px solid #CCC;	
	font-size: 12px;
}

#pages a, #main_info div span a
{

	margin:4px;
	padding: 4px;
	color: #0055CC;
	text-decoration: none;
}

#pages a:hover, #main_info div span a:hover
{
	color: #666;
}

#pages a.current_page
{
	background-color: #0033CC;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.user_rank
{
	font-weight:normal;
	color:#000;
	font-size:small;
}

#content img
{
	margin-bottom: 8px;	
}

#edit, #main_info, #response, .edit
{
	border:1px solid #E5E5E5;
	margin:0 0 10px;
	padding:10px 12px;
	background-color: #FAFAFA;
}

.edit
{
	width: 200px;	
}

#edit div, #response div
{
	margin-bottom: 4px;
	vertical-align: top;
}

#edit div span, #response div span
{
	padding: 4px;
	vertical-align: top;
}

#response div span textarea
{
	width: 350px;
	height: 100px;
}

#edit div span.edit_title, #response div span.edit_title
{
	width: 60px;
	display: inline-block;
	color: #333;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

#edit div span.setting_title, #response div span.setting_title
{
	width: 150px;
	display: inline-block;
	color: #333;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

#edit div span.edit_form, #response div span.edit_form
{
	display: inline-block;
	font-size: 12px;
}

#edit div span.setting_form, #response div span.setting_form
{
	display: inline-block;
	font-size: 12px;
}

/*#edit div span.edit_form input[type=text]
{
	width: 450px;
}*/

#main_info div span
{
	display: inline-block;
	font-size: 12px;
	margin-right: 8px;
	margin-bottom: 8px;
}

#main_info div span a
{
	cursor: pointer;
	font-size: 12px;
}

.login-input
{
	margin-bottom: 10px;
}

#formsender
{
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background:#DEE7F8 none repeat scroll 0 0;
	border:1px solid #CAD8F3;
	padding:1px 5px 2px;
	text-align: center;
	cursor: pointer;
	clear:both;
}

#formsender:hover
{
	background: #BBCEF1; 
	border: 1px solid #6D95E0;	
}

/*				*/
/*	Tags		*/
/*				*/

#tags table, #aliases table, #forum table
{
	width:100%;
	border:2px solid #666;
}

#tags table th, #aliases table th, #forum table th
{
	font-size: 13px;
	font-weight: bold;
	color: #eee;
	background-color: #666;
	text-align: left;
}

#tags table td, #aliases table td, #forum table td
{
	font-size: 12px;
	padding: 3px;
	border-bottom: 1px dotted #999;
}

#tags table tr:last-child td, #aliases table tr:last-child td, #forum table tr:last-child td
{
	border-bottom: 0;
}

#tags table tr td:last-child, #aliases table tr td:last-child, #forum table tr td:last-child
{
	border-right: 0;
}

#tags table tr:hover, #aliases table tr:hover, #forum table tr:hover
{
	background-color: #E5F2FF;
}

.image_note
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border: 1px solid #0033CC;
	cursor: move;
	z-index: 6;
}

.translation_note
{
	color: #666;
	font-size: x-small;
}

.drag
{
	width:100%;
	height:100%;
	background-color: #EEE;
	z-index: 5;
	opacity: 0.60;
}

.tip_space
{
	height: 3px;	
}

.resize
{
	bottom:0;
	cursor:se-resize;
	height:7px;
	position:absolute;
	right:0;
	width:7px;
	background-color: #0033CC;
	z-index: 10;
}

#image_holder
{
	position: relative;
	display:inline-block;
}

.tip
{
	border: 1px solid #111;
	background-color: #E5F6FF;
	padding: 5px;
	cursor: pointer;
	font-size: small;
	z-index: 300;
	overflow: auto;
	max-width: 300px;
	min-width: 140px;
	min-height: 10px;
}

#note-holder
{
	padding: 5px;
	background-color: #eee;
	border: 1px solid #111;
	position:absolute;
	top: 100px;
	left: 100px;
	z-index: 15;
}


#tag_editor_bucket
{
	width:300px;
}

#tag_editor_span
{
	font-size: small;
	
}