@charset "utf-8";
/* CSS Document */

#upload_status a
{
	color: #0033CC;
	font-size: 12px;
	text-decoration: none;	
}

#upload_status a:hover
{
	color: #336699;
}

#upload_status
{
	background-color:		#FAFAFA;
	padding:				10px 15px;
	border: 1px dotted #DDD;
	
}
 
#upload_status .progress
{
	background:				white url('assets/progress-bar/progress.gif') no-repeat;
	background-position:	+50% 0;
	margin-right:			0.5em;
}
 
#upload_status .progress-text
{
	font-size:				0.9em;
	font-weight:			bold;
}
 
#file_list
{
	list-style:				none;
	width:					450px;
	margin:					0;
}
 
#file_list li.file
{
	border-bottom:			1px solid #eee;
	background:				url('assets/file.png') no-repeat 4px 4px;
}
#file_list li.file.file-uploading
{
	background-image:		url('assets/uploading.png');
	background-color:		#D9DDE9;
}
#file_list li.file.file-success
{
	background-image:		url('assets/success.png');
}
#file_list li.file.file-failed
{
	background-image:		url('assets/failed.png');
}
 
#file_list li.file .file-name
{
	font-size:				1.2em;
	margin-left:			44px;
	display:				block;
	clear:					left;
	line-height:			40px;
	height:					40px;
	font-weight:			bold;
}
#file_list li.file .file-size
{
	font-size:				0.9em;
	line-height:			18px;
	float:					right;
	margin-top:				2px;
	margin-right:			6px;
}
#file_list li.file .file-info
{
	display:				block;
	margin-left:			44px;
	font-size:				0.9em;
	line-height:			20px;
	clear
}
#file_list li.file .file-remove
{
	clear:					right;
	float:					right;
	line-height:			18px;
	margin-right:			6px;
}

#list_holder
{
	margin-left: 10px;	
}